.fullheight-hero {
    height: 100vh;
    position: relative;
}

.notification {
    background-color: rgb(10,10,11);
    color: white;
}

.input {
    background-color: rgb(24,26,27);
    border-color: gray;
    color:white;
}

.label {
    color: white;
}

.fas {
    color: #009fff;
}

.fa-trash {
    color: red;
}

.card {
    border-radius: 20px;
    background-color: black;
    color: white;
}

.signupError, .loginError, .summarizeError {
    color: red;
}

#bars {
    color:#009fff;
}

#redirSignupButton, #redirLoginButton, #logoutButton, #deleteAccountButton {
    background-color: rgb(24,26,27);
    border-color: black;
    color: white;
}

#redirGithubButton {
    background-color: Transparent;
    border-color: #009fff;
    color: white;
}

#signupButton, #loginButton, #summarizeButton {
    background-color: #009fff;
    border-color: #009fff;
    color: white;
}

#title {
    color: white;
}

#saveSmmryButton {
    background-color: Transparent;
    border-color: Transparent;
    color: #009fff;
}

#blink {
    color: #009fff;
}

::placeholder {
    color: lightgray !important;
}

#tldr h1 {
    color: white;
	text-align: left;
	margin-left: 50%;
}

