.fullheight-hero {
    height: 100%;
    position: relative;
}

.notification {
    background-color: rgb(10,10,11);
    color: white;
}

.input {
    background-color: rgb(24,26,27);
    border-color: gray;
    color:white;
}

.label {
    color: white;
}

.fas {
    color: #009fff;
}

.card {
    background-color: black;
    color: white;
}

.signupError, .loginError, .summarizeError {
    color: red;
}

#redirButton, #redirSignupButton, #redirLoginButton, #redirGithubButton, #logoutButton {
    background-color: rgb(24,26,27);
    border-color: gray;
    color: white;
}

#signupButton, #loginButton, #summarizeButton {
    background-color: #009fff;
    border-color: #009fff;
    color: white;
}

#blink {
    color: #009fff;
}

::placeholder {
    color: lightgray !important;
}

#tldr h1 {
    color: white;
	text-align: left;
	margin-left: 50%;
}

